 body {
    background-image: linear-gradient(to right, red , yellow);
  }

  .wrapper.eight {
    font-size: 1rem;
    overflow: hidden;
    color: transparent;
    text-align: center;
}
.eight .Nap {
    margin: 1rem auto;
    display: inline-flex;
    font-size: 120px;
}
.eight span {
    display: inline-flex;
    text-shadow: 0 0 0 #b31e1e;
    font-family: 'Play', sans-serif;
    animation: Nap 5s ease infinite;
}

@keyframes Nap {
    60% {
        text-shadow: 0 0 50px #dd0d0d;
    }
    to {
        transform: translate3d(12rem, -40rem, 0) skewX(50deg);
        text-shadow: 0 0 20px #cf1c1c;
        opacity: 50;
    }
}

.eight span:nth-of-type(1) {
    animation-delay: 1.1s;
}
.eight span:nth-of-type(2) {
    animation-delay: 1.2s;
}
.eight span:nth-of-type(3) {
    animation-delay: 1.3s;
}
.eight span:nth-of-type(4) {
    animation-delay: 1.4s;
}
.eight span:nth-of-type(5) {
    animation-delay: 1.5s;
}
.eight span:nth-of-type(6) {
  animation-delay: 1.6s;
}
.eight span:nth-of-type(7) {
  animation-delay: 1.7s;
}
.eight span:nth-of-type(8) {
  animation-delay: 1.8s;
}